* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-weight: 400 !important;
  font-style: normal;
  transition: all 0.2s ease-in-out;
  scroll-behavior: smooth;
  list-style: none;
}

:root {
  --colorMain: #333;
  --colorHover: #f7941d;
  --cart_Color: #424646;
  --blogColor: #2c2d3f;
}
/* Start navMain  */
.nav-main span {
  color: var(--colorMain);
}
.nav-main span:hover {
  color: var(--colorHover);
  cursor: pointer;
}
.nav-main span i {
  color: var(--colorHover);
}
/* End navMain  */
/* Start nav-bar  */
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: transparent ;
    outline: 0;
    box-shadow: 0 0 0 .11rem #d8d8d85d;
}
.nav-bar .search-form .btn-search {
  padding: 1.5%;
  width: 15%;
  background-color: var(--colorMain);
  font-weight: 100;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.nav-bar .search-form .btn-search:hover {
  background-color: var(--colorHover);
}
.nav-bar span i {
  color: var(--colorMain);
}
.nav-bar span i:hover {
  color: var(--colorHover) !important;
}
.show-cart {
  display: block !important;
  width: 40% !important;
}
/* End nav-bar  */
/* Start Categories  */
.Categories {
  background-color: var(--colorMain);
  height: max-content;
  z-index: 1000 !important;
}
.shop-dropdown {
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.nav-bar .dropdown-container .show-item {
  display: block !important;
}
.Categories .Categ-main {
  padding: 1.12%;
}
.Categories .active {
  background-color: var(--colorHover) !important;
}
.Categories ul .nav-item:hover {
  background-color: var(--colorHover);
  background-size: cover;
}
.Categories ul li .dropdown-menu {
  width: min-content;
}
.Categories ul li .dropdown-item:hover {
  background-color: var(--colorHover) !important;
}
/* @media (max-width: 990px) {
  .Categories ul li .dropdown-item:hover {
    background-color: #fff !important;
    color: var(--colorHover) !important;
  }
} */
/* End Categories  */
/* Start Cart  */
.cart-container .cart {
  background-color: var(--colorHover);
  z-index: 1000;
  width: 5.6% !important;
  font-size: 14px;  
}
#cart-list {
  z-index: 100;
  overflow: auto;
  height: 100vh;
  right: 0%;

}
.items-cart img {
  width: 11% !important;
}

/* End Cart  */
/* Start Hero  */
.hero {
  height: 80vh;
  background-image: url(../Images/bgHero.jpg);
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.hero ul {
  list-style: none;
}
.hero .dropEnd .nav-item:hover {
  color: var(--colorHover) !important;
}
.new-arrivals li a:hover {
  color: var(--colorHover);
}
.dropdown-item.active,
.dropdown-item:active {
  color: transparent;
  text-decoration: none;
  background-color: transparent;
}
.produsts-list:hover .dropdown-menu {
  display: flex !important;
}
.icon-hero {
  font-size: 12px;
}
.best-items #item-menu li a:hover {
  color: var(--colorHover) !important;
}
.hero .dropdown-menu {
  position: absolute;
  left: 100%;
  top: -21%;
}
.best-items {
  left: 100% !important;
}
.hero .img-content div img:hover {
  transform: scale(1.0302);
  transition: all 0.4s ease;
}
.hero h1 {
  color: var(--colorHover);
}
.hero .btn-shop {
  background-color: var(--colorMain);
  color: #fff !important;
  transition: all 0.3s ease;
}
.hero .btn-shop:hover {
  background-color: var(--colorHover);
}
/* End Hero  */
/* Start Collection  */

.collection .man-collection {
  background-image: url(../Images/mini-banner1.jpg);
  background-position: right;
}

.collection .bag-collection {
  background-image: url(../Images/mini-banner2.jpg);
  background-position: right;
}
.collection .flash-collection {
  background-image: url(../Images/mini-banner3.jpg);
  background-position: right;
}
.collection .man-collection p,
.collection .bag-collection p,
.collection .flash-collection p,
.collection .flash-collection h5 span {
  color: var(--colorHover);
}
.collection .man-collection a:hover,
.collection .bag-collection a:hover,
.collection .flash-collection a:hover {
  color: var(--colorHover) !important;
}

/* End Collection  */

/* Start Trending */
.Trending hr {
  background-color: var(--colorHover);
  height: 4px;
  color: var(--colorHover);
  width: 10%;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #fff;
  background-color: var(--colorHover);
  border-color: transparent;
}
.nav .nav-item a {
  color: var(--colorMain);
  font-weight: 400;
}
.nav .nav-item a:focus,
.nav .nav-item a:hover {
  background-color: var(--colorHover) !important;
}
.card .img-content img {
  height: 250px;
}
.img-content img:hover {
  transform: scale(1.09);
}
.card .img-content {
  overflow: hidden !important;
  border-radius: 0px;
}

.card:hover .container-cart {
  display: flex !important;
}
.container-cart button:hover {
  color: var(--colorHover) !important;
}
/* End Trending */
/* Start freelite */
.freelite {
  background-color: var(--colorHover);
}
.freelite hr {
  height: 1.5%;
  width: 10%;
  margin: auto;
  background-color: #fff;
  color: #fff;
}
/* End freelite */
/* Start Sales  */
.sales .on-sale hr {
  background-color: #ff8b00;
  height: 2px;
  width: 25%;
  color: #ff8b00;
}
.sales .image-sale:hover .icon-sales {
  display: block !important;
  transition: all 0.3s ease-in-out;
}

.icon-sales {
  position: absolute;
  background: #0000008c;
  width: 32.6%;
  height: 82%;
  left: 4.8%;
  top: 9%;
  z-index: 10;
}
.sales .cart-icon {
  position: absolute;
  top: 28%;
  right: 32%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10%;
  background-color: var(--colorHover);
  border-color: transparent !important;
}
.sales .cart-icon:hover {
  background-color: #fff !important;
  color: #000 !important;
  cursor: pointer;
}
/* .sales .icon span {
  position: absolute;
  top: 40%;
  left: 40%;
   */
/* } */
.sales .icon span {
  background-color: var(--colorHover);
}
.sales .details:hover {
  color: var(--colorHover) !important;
}
.sales .btn-saller {
  background-color: var(--colorHover);
}
/* End Sales  */
/* Start blog */
.blog h4,
.blog a {
  color: var(--blogColor);
}
.blog hr {
  background-color: var(--colorHover);
  width: 8%;
  height: 2px;
}
.blog .content-blog:hover {
  transform: scale(1.03);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
}
.blog .content-blog a:hover {
  color: var(--colorHover);
}
/* End blog */
/* Start details icons  */
.details-icons {
  background-color: #f6f7fb;
}
/* End details icons   */
/* Start sletter */
.sletter h5 {
  color: var(--colorMain);
}
.sletter p span {
  color: var(--colorHover);
}
.sletter input::placeholder {
  text-indent: 2%;
  font-size: 15px;
}
.sletter input {
  border-radius: 30px;
}
.sletter .subscribe-btn {
  position: absolute;
  top: 55.2%;
  left: 64.8%;
  border-radius: 0px 30px 30px 0px;
  background-color: var(--colorHover);
}
.sletter .subscribe-btn:hover {
  background-color: var(--colorMain);
}
/* End sletter */
/* Start footer  */
.footer .details-eshop a {
  color: var(--colorHover);
}
.footer p a:hover {
  color: var(--colorHover) !important;
  padding-left: 10px;
  /* transform: translate(10px) !important; */
}
.footer .follow-icon a:hover {
  color: var(--colorHover) !important;
  /* transition: all 0.01s ease-in-out !important; */
}
/* End footer  */

/* Start Media Query  */
@media (max-width:769px ) {
  .hero {
    height: 120vh;
  }
  .items-cart img { 
    width: 20% !important;
    height: 70px !important;
    }
    .cart-content h5 , .cart-content .total-cont{
      font-size: 15px !important;
    }
  .see-cart {
    width: 9% !important;
  }
  .btn-card {
    font-size: 12px !important;
  }
  .sletter input {
    width: 70% !important;
    margin-left: 14% !important;
  }
  .sletter .subscribe-btn {
    left: 67% !important;
  }
  .icon-sales {
    width: 16.7% !important;
    left: 2.2% !important;
  }
  .empty {
    left: 35% !important;
  }
}
@media (max-width:426px) {
  .see-cart {
    width: 14% !important;
  }
  .icon-sales {
    width: 28.8% !important;
    left: 4% !important;
  }
}
@media (max-width:426px) {
  *{
    font-size: 13px !important;
  }
  .hero {
    height: 87vh;
  }
  .icon-sales {
    top: 8% !important;
    width: 28.6% !important;
    left: 3.2% !important;
    height: 84% !important;
  }
  .sletter .subscribe-btn {
    top: 54% !important; 
  }
  .empty {
    left: 27% !important;
  }
}
@media (max-width:376px) {
  *{
    font-size: 12px !important;
  }
  .hero {
    height: 80vh !important;
  }
  .sletter .subscribe-btn {
    left: 60% !important;
    top: 61% !important;
  }
}
@media (max-width:320px) {
  *{
    font-size: 10px;
  }
  .hero {
    height: 130vh;
  }
  .see-cart {
    width: 16% !important;
  }
  .sletter input {
    width: 70% !important;
    padding: 4% !important;
  }
  .sletter .subscribe-btn {
    top: 61% !important;
    left: 58.4% !important;
    padding: 3.7% !important;
  }
  .icon-sales {
    width: 38.8% !important;
    left: 4.3% !important;
    height: 86% !important;
    top: 7% !important; 
  }
  .sletter input::placeholder {
    text-indent: 2%;
    font-size: 10px;
  }
  .cart-icon i {
    margin-top: 26% !important; 
  }
 
}